.first_div{
	/*border: 2px solid black;*/
	/*margin: 20px 620px 20px 20px;*/
	/*background-color: #ADD8E6;*/
}
body{
	background-color: #ADD8E6;
}
.second_div{
	margin: 0 15px;
}
.frm{
	margin: 20px 20px 0 300px;
	width: 600px;
	background-color: #FFD700;
	padding: 15px 15px;
	body * box-sizing: border-box;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: left;
}
h3{
	display: block;
}
th{
	font-family: worksans-bold;
}
td,input{
	font-family: worksans-regular;
}
.btnimg{
	height: 10px;
	width: 15px;
	margin-left: 2px;
}
textarea{
	resize: none;
	display: block;
}
label{
	display: block;
	font-family: worksans-bold;
	margin-top: 10px;
}
.bt{
	border-radius: 10px;
	background-color: green;
	color: white;
	margin: auto;
	display: block;
	height: 30px;
	width: 80px;
}
@font-face{
	font-family: worksans-bold;
	src: url("../fonts/worksans-bold-demo.html");
	src: url("../fonts/worksans-bold-webfont.eot");
	src: url("../fonts/worksans-bold-webfont.ttf");
	src: url("../fonts/worksans-bold-webfont.woff");
	src: url("../fonts/worksans-bold-webfont.woff2");
}
@font-face{
	font-family: worksans-regular;
	src: url("../fonts/worksans-regular-demo.html");
	src: url("../fonts/worksans-regular-webfont.eot");
	src: url("../fonts/worksans-regular-webfont.ttf");
	src: url("../fonts/worksans-regular-webfont.woff");
	src: url("../fonts/worksans-regular-webfont.woff2");
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  /*width: 120px;
  height: 120px;*/
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  /*content: url('../images/rotate.gif');*/

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}